.main{
  background-image: url(../img/bgrd.jpg);
  text-align: center;
  color: #eee;
  background-attachment: fixed;
}

.nebraska{
  background-image: url(../img/nebraska.jpg);
  text-align: center;
  color: ;
  background-attachment: fixed;
}

.beach{
  background-image: url(../img/beach.jpg);
  text-align: center;
  color: #0066ff;
  background-attachment: fixed;
}

.sixflags{
  background-image: url(../img/6flag.jpg);
  text-align: center;
  color: #ff145b;
  background-attachment: fixed;
}

.asia{
  background-image: url(../img/asia.jpg);
  text-align: center;
  color: #edc613;
  background-attachment: fixed;
}

-webkit-@font-face {
    font-family: cursive;;
    src: url(~/artsyFont.ttf);
}

.jumbotron{
  background-image: url(../img/travel.jpg);
  font-family: serif;
  color: #1f053a;
}

.sidebarRight{
  float: right;

}

.sidebarLeft{
  float: left;

}

input{
  width: 40%auto;
}

#banner1{
  width: 900px;
  width: 92%;
  height: auto;
  margin: auto;
  padding: 10px;
  text-align: center;
}

#banner2{
  width: 900px;
  width: 92%;
  height: auto;
  margin: auto;
  padding: 10px;
  text-align: center;
}

.resultsLoc{
  margin: auto;
  width: 75%;
  padding: 10px;
  text-align: center;
}

.editWide{
  width: 93%;
  height: auto;
}
